.card-header {
    background-color: #ffc107;
    color: #000;
}

.card-body{
    background-color: #000;
}

.card-title{
    color: white;
}

.table {
    background-color: #1a1a1a;
    color: #fff;
}

.table thead {
    background-color: #ffc107;
    color: #000;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2a2a2a;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #1a1a1a;
}


.container {
    padding: 10px; 
}

.row {
    margin-bottom: 5px; 
}
