@font-face {
    font-family: 'poppins-medium';
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

body {
    background-color: #ffffff;
    color: #212529;
    font-family: 'poppins-medium', sans-serif;
    
}

nav {
    background-color: #212529;
}

